.container {
  padding: 20px;
}

  h1 {
    margin-top: 1px;
    font-size: 24px;
  }

.row {
    border-bottom: 0.5px solid #e8e8e8;
    display: block;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    padding: 15px;
    margin: inherit;
    position: relative;

    p {
      font-size: 16px;
      font-family: "Lato";
    }

    h3 {
      color: black;
      font-size: 1.5em;

    }
}

.booking-container {
  display: flex;
  position: relative;
  padding-top: 20px;
}

.booking-row {
    padding: 20px;
    position: absolute;
    margin-top: 1px;
    img {
    width: 100%;
    float: right;
  }

  .booking-details {
    padding: 20px;
    position: absolute;
    margin-top: 1px;
  }
}


.booking-button {
    color: #fc7e00;
    border: 1px solid;
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    float: none;
    margin-top: -6px;
    margin-right: 2px;


    &:hover {
      color: #ff5602;
    }
  }




   .bicycle-img {
    margin: 20px 20px;
    float: right;
    width: 60%;
    border-radius: 3px;
  }

