<%= simple_form_for [@bicycle, @booking] do |f| %>
  <%= f.input :date_start %>
  <%= f.input :date_end %>
  <div class="form-group">
    <label class="form-control-label text optional" for="bicycle_description"></label>
  <%= f.submit %>
  </div>
<% end %>
