<div class="container">
  <div class="row">
    <div class="col-sm-4 col-offset-4">
      <h2>Update booking</h2>
      <%= render 'form', bicycle: @bicycle, booking: @booking %>
    </div>
  </div>
</div>
