<div class="vertical-alignment">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="panel panel-form">
      <div class="header">
        <p>Update</p>
      </div>
      <%= render 'form', bicycle: @bicycle, booking: @booking %>
    </div>
  </div>
</div>
