<div class="col-9 col-sm-9">
  <div class="panel panel-form">
    <div class="header">
      <p>Update booking</p>
    </div>
    <%= render 'form', bicycle: @bicycle, booking: @booking %>
  </div>
</div>

