.marker {
  background-image: url('https://res.cloudinary.com/dsjm0qvdj/image/upload/v1542373822/ext_02016318162325982.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  cursor: pointer;
}

