<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dsjm0qvdj/image/upload/v1542043604/stangolfcourse.jpg');">
  <div class="banner-content">
    <h1>Find your perfect bike to rent</h1>
      <%= render 'layouts/components/search.html.erb' %>
  </div>
</div>
