<div class="container">
  <%= link_to "Edit bicycle", edit_bicycle_path %>
  <%= link_to "Delete bicycle", bicycle_path, method: "delete" %>
  <%= link_to "Bookings for this bike", bicycle_bookings_all_path(@bicycle) %>
</div>
