  <div class="sidebar">
    <div class="main">
      <%= link_to 'Edit Profil', '/' %>
      <%= link_to 'Photos', '/' %>
      <%= link_to 'Reviews', '/' %>
      <%= link_to 'Trust and Verification', '/' %>
    </div>
  </div>

